<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gt.planit.domain.likes.model.mapper.SpotLikeMapper">

    <select id="findByUserAndSpot" resultType="com.gt.planit.domain.likes.model.dto.SpotLikeDto">
        SELECT id, is_deleted
        FROM spot_likes
        WHERE user_id = #{userId}
        AND spot_id = #{spotId}
        LIMIT 1
    </select>

    <select id="findLikedSpotsByUserId"
            parameterType="long"
            resultType="com.gt.planit.domain.likes.model.dto.MySpotLikeResDto">
        SELECT
        s.id,
        s.title,
        s.content_type,
        s.image1,
        s.avg_rating,
        s.rating_count,
        s.start_time,
        s.end_time,
        s.doro_addr,
        s.jibun_addr,
        TRUE AS isFavorite
        FROM spot_likes sl
        JOIN spots s ON s.id = sl.spot_id
        WHERE sl.user_id = #{userId}
        AND sl.is_deleted = 'F'
        AND s.is_deleted = 'F'
        ORDER BY sl.created_at DESC
    </select>


    <insert id="insertLike">
        INSERT INTO spot_likes (user_id, spot_id, is_deleted)
        VALUES (#{userId}, #{spotId}, 'F')
    </insert>

    <update id="updateLike">
        UPDATE spot_likes
        SET is_deleted = #{isDeleted}
        WHERE id = #{id}
    </update>

    <select id="countLikes" resultType="int">
        SELECT COUNT(*)
        FROM spot_likes
        WHERE spot_id = #{spotId}
        AND is_deleted = 'F'
    </select>

    <select id="existsLiked" resultType="boolean">
        SELECT EXISTS (
        SELECT 1 FROM spot_likes
        WHERE user_id = #{userId}
        AND spot_id = #{spotId}
        AND is_deleted = 'F'
        )
    </select>

</mapper>
