<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gt.planit.domain.user.model.mapper.UserMapper">

    <select id="findByEmail" resultType="com.gt.planit.domain.user.model.dto.UserReqDto">
        SELECT
        id,
        email,
        nickname,
        password,
        role
        FROM users
        WHERE email = #{email}
    </select>

</mapper>
