<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gt.planit.domain.user.model.mapper.UserMapper">

    <select id="findByEmail" resultType="com.gt.planit.domain.user.model.dto.UserReqDto">
        SELECT
        *
        FROM users
        WHERE email = #{email}
    </select>

    <insert id="insertUser">
        INSERT INTO users (email, password, nickname, role)
        VALUES (#{email}, #{password}, #{nickname}, 'USER')
    </insert>

    <select id="findByNickname" resultType="com.gt.planit.domain.user.model.dto.UserReqDto">
        SELECT * FROM users WHERE nickname = #{nickname}
    </select>

    <update id="updateMyInfo">
        UPDATE users
        SET
        name = #{name},
        nickname = #{nickname},
        password = #{password}
        WHERE email = #{email};
    </update>

</mapper>
